body{
    background-color: rgb(46, 41, 41);
    height: 800px;
} 
.picture2{
    position: absolute;
width: 250px;
height: 400px;
left: 230px;
top: 148px;
border-radius: 91px;
}
h4{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 6px 25px;

position: absolute;
width: 100px;
height: 24px;
left: 670px;
top: 170px;
font-size: 18px;
color: rgb(254, 237, 0);
background: rgba(255, 255, 255, 0.08);
border-radius: 50px;
}
h4:hover{
    color: rgb(7, 61, 239);
}
h5{
    position: absolute;
left: 670px;
right: 35.34%;
top: 200px;
bottom: 65.48%;
width: 150px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 30px;
/* or 62% */


color: #FFFFFF;
}
h6{
    position: absolute;
left: 670px;
right: 11.18%;
top: 250px;
buttom: 37.64%;
width: 630px;
height: 195px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;



color: #D5D5D5;
}
a{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 26px;

position: absolute;
width: 100px;
height: 24px;
left:678.67px;
top: 470.61px;
text-decoration: none;
text-transform: uppercase;
background: #FFB742;
border-radius: 50px;
color: black;
}
a:hover{
    color: white;
}
